  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;;
}

.titulo-principal{
    text-align: center;
}

span{
    color:  rgb(52, 139, 253);
}

section{
    background-color: rgb(52, 139, 253);
    color: white;
    padding: 2px 8px;
}

li{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}

footer p{
    margin: 0;
}